
<section class="container" id="orderList-container">
	
	<table class="table table-hover table-bordered">
		<tr ng-repeat="order in orders">
			<td>
				<div>
					<a class="media-body" href="#/order/{{order.id}}">
						<h4>
							{{order.branch.name}}
							<small>{{order.date|formatDate:'D. M. YY H:mm'}}</small>
						</h4>
					</a>
				</div>
				<span class="badge badge-success">
					{{order.totalPrice | price:order.currency}}
				</span>
				<span class="badge">
					{{order.originalPrice | price:order.currency}}
				</span>
			</td>
		</tr>
	</table>
	
</section>