
<section class="container" id="purchaseList-container">
	
	<table class="table table-hover table-bordered">
		<tr>
			<td class="well soft">
				<a ng-href="#create-shop-cart">
					<h5><i class="icon-large icon-circle-plus"></i> {{'Vytvořit nákupní seznam'|_}}</h5>
				</a>
			</td>
		</tr>
		<tr ng-repeat="purchase in purchases">
			<td class="well">
				<div>
					<a ng-href="#/purchase/{{purchase.id}}">
						<h4>
							{{purchase.branch.name}}
							<small>{{purchase.date|formatDate:'D. M. YY H:mm'}}</small>
						</h4>
					</a>
				</div>
				<span class="badge badge-success">
					{{purchase.totalPrice | price:purchase.currency}}
				</span>
				<span class="badge">
					{{purchase.originalPrice | price:purchase.currency}}
				</span>
			</td>
		</tr>
	</table>
	
</section>