bin
apps/myRetail/android/native/bin
node_modules
~$*
[Tt]humbs.db
*.DS_Store
*.tmp

## Frontend common
apps/myRetail/common/js/config/config.local.js

## Server nodejs
node_modules
server/app/config/config.local.js
temp
daemon