#s-08b256dd-c9a6-49ec-8a75-9a8afaa4c8b1 #s-Panel_43 > .valign {
  vertical-align: top;
}
#s-08b256dd-c9a6-49ec-8a75-9a8afaa4c8b1 #s-Rich_text_42 {
  background-image: url('../../images/[Generated] b37fa2ae-0c28-4ec2-82ad-075241fe63e0.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 0px;
  padding-left: 14px;
  width: 282px;
  height: 40px;
}
#s-08b256dd-c9a6-49ec-8a75-9a8afaa4c8b1 #s-Rich_text_45 {
  background-image: url('../../images/[Generated] 9fc7b1aa-bc96-42a6-b431-bce1e56d9f0b.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 0px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 14px;
  width: 282px;
  height: 40px;
}
#s-08b256dd-c9a6-49ec-8a75-9a8afaa4c8b1 #s-Rich_text_46 {
  background-image: url('../../images/[Generated] 8e1ffe83-552e-4aa7-a4e6-8b1640062c31.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 0px;
  padding-left: 44px;
  width: 252px;
  height: 40px;
}
#s-08b256dd-c9a6-49ec-8a75-9a8afaa4c8b1 #s-Rich_text_49 {
  background-image: url('../../images/[Generated] 2d2b3504-ff87-42e1-94dc-42531e5ca0d3.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 0px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 44px;
  width: 252px;
  height: 40px;
}
#s-08b256dd-c9a6-49ec-8a75-9a8afaa4c8b1 #s-Rich_text_50 {
  background-image: url('../../images/[Generated] 4215adf8-f71b-489b-b842-b7caa890d0d0.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 0px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 44px;
  width: 252px;
  height: 40px;
}
#s-08b256dd-c9a6-49ec-8a75-9a8afaa4c8b1 #s-checked_5 > .valign {
  vertical-align: top;
}
#s-08b256dd-c9a6-49ec-8a75-9a8afaa4c8b1 #s-unchecked_5 > .valign {
  vertical-align: top;
}
#s-08b256dd-c9a6-49ec-8a75-9a8afaa4c8b1 #s-checked_6 > .valign {
  vertical-align: top;
}
#s-08b256dd-c9a6-49ec-8a75-9a8afaa4c8b1 #s-unchecked_6 > .valign {
  vertical-align: top;
}
#s-08b256dd-c9a6-49ec-8a75-9a8afaa4c8b1 #s-checked_8 > .valign {
  vertical-align: top;
}
#s-08b256dd-c9a6-49ec-8a75-9a8afaa4c8b1 #s-unchecked_8 > .valign {
  vertical-align: top;
}
#s-08b256dd-c9a6-49ec-8a75-9a8afaa4c8b1 #s-checked_7 > .valign {
  vertical-align: top;
}
#s-08b256dd-c9a6-49ec-8a75-9a8afaa4c8b1 #s-unchecked_7 > .valign {
  vertical-align: top;
}
#s-08b256dd-c9a6-49ec-8a75-9a8afaa4c8b1 #s-Rich_text_51 {
  background-image: url('../../images/[Generated] b2f1fdcb-a5c1-48a8-b486-c35c3ba4c240.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 0px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 44px;
  width: 252px;
  height: 40px;
}
#s-08b256dd-c9a6-49ec-8a75-9a8afaa4c8b1 #s-checked_1 > .valign {
  vertical-align: top;
}
#s-08b256dd-c9a6-49ec-8a75-9a8afaa4c8b1 #s-unchecked_1 > .valign {
  vertical-align: top;
}
#s-08b256dd-c9a6-49ec-8a75-9a8afaa4c8b1 #s-checked_2 > .valign {
  vertical-align: top;
}
#s-08b256dd-c9a6-49ec-8a75-9a8afaa4c8b1 #s-unchecked_2 > .valign {
  vertical-align: top;
}
#s-08b256dd-c9a6-49ec-8a75-9a8afaa4c8b1 #s-checked_3 > .valign {
  vertical-align: top;
}
#s-08b256dd-c9a6-49ec-8a75-9a8afaa4c8b1 #s-unchecked_3 > .valign {
  vertical-align: top;
}
#s-08b256dd-c9a6-49ec-8a75-9a8afaa4c8b1 #s-checked_4 > .valign {
  vertical-align: top;
}
#s-08b256dd-c9a6-49ec-8a75-9a8afaa4c8b1 #s-unchecked_4 > .valign {
  vertical-align: top;
}