#s-1d7b8c5c-70dc-4969-a5a6-d275ad75c242 #s-Blue_button_large {
  background-image: url('../../images/[Generated] 29f07581-e799-4929-8626-2edb2903df61.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 167px;
  height: 26px;
}
#s-1d7b8c5c-70dc-4969-a5a6-d275ad75c242 #s-Blue_button_large_1 {
  background-image: url('../../images/[Generated] 4ada6550-b9b9-466a-b6f7-e70d37cc4060.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 167px;
  height: 26px;
}
#s-1d7b8c5c-70dc-4969-a5a6-d275ad75c242 #s-Green_button {
  background-image: url('../../images/[Generated] d86e6265-3044-458f-9cb2-72935f3e8109.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  width: 165px;
  height: 24px;
}
#s-1d7b8c5c-70dc-4969-a5a6-d275ad75c242 #s-Panel_47 > .valign {
  vertical-align: top;
}