#s-296abba6-b9d5-4719-95ce-5eda01354826 #s-Panel_43 > .valign {
  vertical-align: top;
}
#s-296abba6-b9d5-4719-95ce-5eda01354826 #s-Rich_text_42 {
  background-image: url('../../images/[Generated] 8c040e36-8c38-49c2-b63e-c1398aa44090.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 0px;
  padding-left: 14px;
  width: 282px;
  height: 40px;
}
#s-296abba6-b9d5-4719-95ce-5eda01354826 #s-Rich_text_45 {
  background-image: url('../../images/[Generated] 506dff09-5345-499f-8084-20831887de15.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 0px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 14px;
  width: 282px;
  height: 40px;
}
#s-296abba6-b9d5-4719-95ce-5eda01354826 #s-Rich_text_46 {
  background-image: url('../../images/[Generated] a9bd13ee-08c0-44b0-865a-808cfa18e09f.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 0px;
  padding-left: 44px;
  width: 252px;
  height: 40px;
}
#s-296abba6-b9d5-4719-95ce-5eda01354826 #s-Rich_text_49 {
  background-image: url('../../images/[Generated] b585c3cc-0843-449c-8414-39947b17dab4.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 0px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 44px;
  width: 252px;
  height: 40px;
}
#s-296abba6-b9d5-4719-95ce-5eda01354826 #s-Button_blue {
  background-image: url('../../images/[Generated] ef36a928-3e64-4c75-a19a-4e0c24a4e7a3.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 47px;
  height: 22px;
}
#s-296abba6-b9d5-4719-95ce-5eda01354826 #s-Button_blue_1 {
  background-image: url('../../images/[Generated] 80e03d5f-3195-4a94-9403-f0304f81d194.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 47px;
  height: 22px;
}
#s-296abba6-b9d5-4719-95ce-5eda01354826 #s-checked_1 > .valign {
  vertical-align: top;
}
#s-296abba6-b9d5-4719-95ce-5eda01354826 #s-unchecked_1 > .valign {
  vertical-align: top;
}
#s-296abba6-b9d5-4719-95ce-5eda01354826 #s-checked_2 > .valign {
  vertical-align: top;
}
#s-296abba6-b9d5-4719-95ce-5eda01354826 #s-unchecked_2 > .valign {
  vertical-align: top;
}
#s-296abba6-b9d5-4719-95ce-5eda01354826 #s-checked_3 > .valign {
  vertical-align: top;
}
#s-296abba6-b9d5-4719-95ce-5eda01354826 #s-unchecked_3 > .valign {
  vertical-align: top;
}
#s-296abba6-b9d5-4719-95ce-5eda01354826 #s-checked_4 > .valign {
  vertical-align: top;
}
#s-296abba6-b9d5-4719-95ce-5eda01354826 #s-unchecked_4 > .valign {
  vertical-align: top;
}
#s-296abba6-b9d5-4719-95ce-5eda01354826 #s-checked_5 > .valign {
  vertical-align: top;
}
#s-296abba6-b9d5-4719-95ce-5eda01354826 #s-unchecked_5 > .valign {
  vertical-align: top;
}
#s-296abba6-b9d5-4719-95ce-5eda01354826 #s-checked_6 > .valign {
  vertical-align: top;
}
#s-296abba6-b9d5-4719-95ce-5eda01354826 #s-unchecked_6 > .valign {
  vertical-align: top;
}