#s-2ca9765f-6b81-4429-80e3-2a7fc2bfe723 #s-Dark_grey_button {
  background-image: url('../../images/[Generated] 2d2b5c8e-c2ba-4e07-a66d-eb102b82bd84.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 6px;
  padding-right: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  width: 267px;
  height: 34px;
}
#s-2ca9765f-6b81-4429-80e3-2a7fc2bfe723 #s-Rectangle_27 {
  background-image: url('../../images/[Generated] c6807b1b-bca2-4f42-b3e1-6f5aec254ba7.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 276px;
  height: 37px;
}
#s-2ca9765f-6b81-4429-80e3-2a7fc2bfe723 #s-Panel_13 > .valign {
  vertical-align: middle;
}
#s-2ca9765f-6b81-4429-80e3-2a7fc2bfe723 #s-Green_button {
  background-image: url('../../images/[Generated] 91878feb-9082-4746-a2a3-f7123e4d89eb.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  width: 143px;
  height: 23px;
}