#s-2f27b4e8-2812-485e-9bc1-bb8a82166ea8 #s-Panel_47 > .valign {
  vertical-align: top;
}
#s-2f27b4e8-2812-485e-9bc1-bb8a82166ea8 #s-Thread {
  background-image: url('../../images/[Generated] feb05d92-0d20-4b3c-84a9-c21f4ebe7203.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 19px;
  height: 14px;
}
#s-2f27b4e8-2812-485e-9bc1-bb8a82166ea8 #s-Thread_1 {
  background-image: url('../../images/[Generated] 5c31e9bb-8c03-4088-8fa1-73b523a075fa.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 19px;
  height: 14px;
}
#s-2f27b4e8-2812-485e-9bc1-bb8a82166ea8 #s-Thread_2 {
  background-image: url('../../images/[Generated] 8349ac1f-eb7a-46da-8ab9-3792b8eab19d.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 19px;
  height: 14px;
}
#s-2f27b4e8-2812-485e-9bc1-bb8a82166ea8 #s-Thread_3 {
  background-image: url('../../images/[Generated] 921e22ec-a868-473c-8895-3a88af076b31.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 19px;
  height: 14px;
}
#s-2f27b4e8-2812-485e-9bc1-bb8a82166ea8 #s-Thread_4 {
  background-image: url('../../images/[Generated] 9d914b90-5bf8-4020-8ba6-042bc2bfdd51.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 19px;
  height: 14px;
}
#s-2f27b4e8-2812-485e-9bc1-bb8a82166ea8 #s-Thread_5 {
  background-image: url('../../images/[Generated] dbc18610-99b0-4efa-9662-aec0856bdb6b.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 19px;
  height: 14px;
}
#s-2f27b4e8-2812-485e-9bc1-bb8a82166ea8 #s-Thread_6 {
  background-image: url('../../images/[Generated] 70b9ad0f-a8ba-4b66-887e-bd1febae2626.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 19px;
  height: 14px;
}
#s-2f27b4e8-2812-485e-9bc1-bb8a82166ea8 #s-Thread_7 {
  background-image: url('../../images/[Generated] 3809aad4-8d7d-4b4c-bf0a-cda9d1db1bf5.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 19px;
  height: 14px;
}
#s-2f27b4e8-2812-485e-9bc1-bb8a82166ea8 #s-Rectangle_16 {
  background-image: url('../../images/[Generated] d84aa87c-a139-45b1-a612-32de4fcc034a.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  width: 247px;
  height: 14px;
}