#s-e555abec-c303-45ce-8108-0b6cc75ec84f #s-Rectangle_6 {
  background-image: url('../../images/[Generated] e8b45e37-3327-4cf4-b8e4-8d13899a245b.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 229px;
  height: 24px;
}
#s-e555abec-c303-45ce-8108-0b6cc75ec84f #s-Rectangle_7 {
  background-image: url('../../images/[Generated] f430c99e-a284-4c2d-83f5-06d7e1b3368e.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 229px;
  height: 24px;
}
#s-e555abec-c303-45ce-8108-0b6cc75ec84f #s-Dark_grey_button {
  background-image: url('../../images/[Generated] 33aa8e8e-6964-4193-9ddd-296f9d0ab140.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 6px;
  padding-right: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  width: 267px;
  height: 34px;
}