
		<section class="container" id="home-container">
			<nav class="nav" id="menu" ng-controller="HomeCtrl">
				<a ng-href="#/offer-list" class="btn btn-large">
					{{'Nabídka'|_}}<br />
					<span class="badge">{{countOffers}}</span>
					<span class="badge badge-important" ng-show="countNewOffers > 0">{{countNewOffers}}</span>
				</a>
			</nav>
			
			<div class="qr-code-container">
				<a ng-href="#">
					<img class="qr-code" src="images/qr_code_example.png" alt="QR code" />
				</a>
			</div>
		</section>