#s-1c0cf473-2408-4409-9c1c-0cc1f5db829a #s-Panel_43 > .valign {
  vertical-align: top;
}
#s-1c0cf473-2408-4409-9c1c-0cc1f5db829a #s-Rich_text_42 {
  background-image: url('../../images/[Generated] 1d041f85-7d3e-43fa-a9ec-27ff63614a7f.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 0px;
  padding-left: 14px;
  width: 282px;
  height: 40px;
}
#s-1c0cf473-2408-4409-9c1c-0cc1f5db829a #s-Rich_text_45 {
  background-image: url('../../images/[Generated] 0fa25007-77e9-49be-83c2-09764cb32989.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 0px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 14px;
  width: 282px;
  height: 40px;
}
#s-1c0cf473-2408-4409-9c1c-0cc1f5db829a #s-Rich_text_46 {
  background-image: url('../../images/[Generated] 8359ffaa-ad8f-4ddd-bfa5-ef6725bed5e8.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 0px;
  padding-left: 44px;
  width: 252px;
  height: 40px;
}
#s-1c0cf473-2408-4409-9c1c-0cc1f5db829a #s-Rich_text_49 {
  background-image: url('../../images/[Generated] c36308bf-249e-4ff0-8145-97dd302fb5a2.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 0px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 44px;
  width: 252px;
  height: 40px;
}
#s-1c0cf473-2408-4409-9c1c-0cc1f5db829a #s-Button_blue {
  background-image: url('../../images/[Generated] 9d73ecc4-97a5-4935-82cc-26f95ec30565.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 47px;
  height: 22px;
}
#s-1c0cf473-2408-4409-9c1c-0cc1f5db829a #s-Button_blue_1 {
  background-image: url('../../images/[Generated] 2ab5b5a0-a833-4229-ae01-4ae08f92acaa.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 47px;
  height: 22px;
}
#s-1c0cf473-2408-4409-9c1c-0cc1f5db829a #s-Thread {
  background-image: url('../../images/[Generated] 7c5b4e32-2ef9-42df-ae31-963afed19fcd.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 38px;
  height: 24px;
}
#s-1c0cf473-2408-4409-9c1c-0cc1f5db829a #s-Thread_1 {
  background-image: url('../../images/[Generated] 82e35d50-b58f-4807-931a-e64e4b4e0637.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 38px;
  height: 24px;
}
#s-1c0cf473-2408-4409-9c1c-0cc1f5db829a #s-Thread_2 {
  background-image: url('../../images/[Generated] e6c8d672-1b0d-4e76-aaff-41f7446e219c.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 38px;
  height: 24px;
}
#s-1c0cf473-2408-4409-9c1c-0cc1f5db829a #s-Thread_3 {
  background-image: url('../../images/[Generated] 3d86af76-4f3c-439b-b230-547f91e37479.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 38px;
  height: 24px;
}
#s-1c0cf473-2408-4409-9c1c-0cc1f5db829a #s-Thread_4 {
  background-image: url('../../images/[Generated] 97ce9d46-4388-4dbd-bdda-be4ad6d53a94.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 38px;
  height: 24px;
}
#s-1c0cf473-2408-4409-9c1c-0cc1f5db829a #s-Thread_5 {
  background-image: url('../../images/[Generated] 0121f546-b503-4340-993e-cb6328cbf7cd.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 38px;
  height: 24px;
}
#s-1c0cf473-2408-4409-9c1c-0cc1f5db829a #s-Rectangle_6 {
  background-image: url('../../images/[Generated] 9e6f0d0e-8288-4d09-89be-6b7f95bb9474.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 294px;
  height: 24px;
}
#s-1c0cf473-2408-4409-9c1c-0cc1f5db829a #s-Label_10 {
  background-image: url('../../images/[Generated] 1a2caf97-c341-44d2-904d-4493e7a5241d.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 13px;
  width: 289px;
  height: 22px;
}
#s-1c0cf473-2408-4409-9c1c-0cc1f5db829a #s-Category_4-options {
  background-color: transparent;
}
#s-1c0cf473-2408-4409-9c1c-0cc1f5db829a #s-Rectangle_7 {
  background-image: url('../../images/[Generated] d722b29c-e73c-40a1-a067-f80c23da7432.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 300px;
  height: 24px;
}