#s-8edefd18-271c-4dc0-8198-e86dbee8c235 #s-Thread {
  background-image: url('../../images/[Generated] 2179e79d-6b9c-41ff-a5b2-ce9cb5553818.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 14px;
  height: 14px;
}
#s-8edefd18-271c-4dc0-8198-e86dbee8c235 #s-Thread_1 {
  background-image: url('../../images/[Generated] a9db078a-0a92-47cf-bc11-afc74ad93b34.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 14px;
  height: 14px;
}
#s-8edefd18-271c-4dc0-8198-e86dbee8c235 #s-Thread_2 {
  background-image: url('../../images/[Generated] 438e92ce-0956-4b9c-880c-c65cae6f384f.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 24px;
  height: 14px;
}
#s-8edefd18-271c-4dc0-8198-e86dbee8c235 #s-Thread_3 {
  background-image: url('../../images/[Generated] 822a009f-59f4-4c63-b1e4-e34418be8103.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 25px;
  height: 14px;
}