#s-f2da9b5b-0b54-4eac-b8a7-4ac77a73be6e #s-Panel_47 > .valign {
  vertical-align: top;
}
#s-f2da9b5b-0b54-4eac-b8a7-4ac77a73be6e #s-Thread {
  background-image: url('../../images/[Generated] 89fc1588-e77f-4487-b235-c15b8459a1aa.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 70px;
  height: 14px;
}
#s-f2da9b5b-0b54-4eac-b8a7-4ac77a73be6e #s-Thread_1 {
  background-image: url('../../images/[Generated] 28ce0eb0-4345-4ab1-a774-ab22da692910.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 70px;
  height: 14px;
}
#s-f2da9b5b-0b54-4eac-b8a7-4ac77a73be6e #s-Thread_2 {
  background-image: url('../../images/[Generated] ce77a31a-6bc2-46b9-963f-45d6b777d0f6.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 55px;
  height: 14px;
}
#s-f2da9b5b-0b54-4eac-b8a7-4ac77a73be6e #s-Thread_3 {
  background-image: url('../../images/[Generated] 0daceeaa-df95-454e-8805-619849073f08.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 55px;
  height: 14px;
}
#s-f2da9b5b-0b54-4eac-b8a7-4ac77a73be6e #s-Thread_4 {
  background-image: url('../../images/[Generated] ff940a4b-3ff8-4701-a82f-b7b5fa283274.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 67px;
  height: 14px;
}
#s-f2da9b5b-0b54-4eac-b8a7-4ac77a73be6e #s-Thread_5 {
  background-image: url('../../images/[Generated] 12d868ed-ebb4-47d4-866f-44257f5e765e.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 83px;
  height: 14px;
}
#s-f2da9b5b-0b54-4eac-b8a7-4ac77a73be6e #s-Thread_6 {
  background-image: url('../../images/[Generated] af78db72-cfad-4f3b-8443-371f48d75ecf.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 61px;
  height: 14px;
}
#s-f2da9b5b-0b54-4eac-b8a7-4ac77a73be6e #s-Thread_7 {
  background-image: url('../../images/[Generated] 0984b0d8-efd3-455f-b045-e2730dc8776d.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 49px;
  height: 14px;
}
#s-f2da9b5b-0b54-4eac-b8a7-4ac77a73be6e #s-Thread_8 {
  background-image: url('../../images/[Generated] 5abac895-bbad-4702-a62d-efc460e66fec.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 55px;
  height: 14px;
}