#s-08b256dd-c9a6-49ec-8a75-9a8afaa4c8b1 #s-Panel_43 > .valign {
  vertical-align: top;
}
#s-08b256dd-c9a6-49ec-8a75-9a8afaa4c8b1 #s-Rich_text_42 {
  background-image: url('../../images/[Generated] 22d3ffa7-dbdd-4036-b958-3bcdb6ab1112.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 0px;
  padding-left: 14px;
  width: 282px;
  height: 40px;
}
#s-08b256dd-c9a6-49ec-8a75-9a8afaa4c8b1 #s-Rich_text_45 {
  background-image: url('../../images/[Generated] 6fb34a48-6a08-427c-9805-be16ac88a72a.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 0px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 14px;
  width: 282px;
  height: 40px;
}
#s-08b256dd-c9a6-49ec-8a75-9a8afaa4c8b1 #s-Rich_text_46 {
  background-image: url('../../images/[Generated] 0047a15f-a8fa-4636-8ba8-c72e10b1459a.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 0px;
  padding-left: 44px;
  width: 252px;
  height: 40px;
}
#s-08b256dd-c9a6-49ec-8a75-9a8afaa4c8b1 #s-Rich_text_49 {
  background-image: url('../../images/[Generated] 645d06cc-ccb6-409b-8a57-ed536e29657d.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 0px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 44px;
  width: 252px;
  height: 40px;
}
#s-08b256dd-c9a6-49ec-8a75-9a8afaa4c8b1 #s-Rich_text_50 {
  background-image: url('../../images/[Generated] 734e94dc-985c-4f74-8fe5-d981ef4ce05c.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 0px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 44px;
  width: 252px;
  height: 40px;
}
#s-08b256dd-c9a6-49ec-8a75-9a8afaa4c8b1 #s-checked_5 > .valign {
  vertical-align: top;
}
#s-08b256dd-c9a6-49ec-8a75-9a8afaa4c8b1 #s-unchecked_5 > .valign {
  vertical-align: top;
}
#s-08b256dd-c9a6-49ec-8a75-9a8afaa4c8b1 #s-checked_6 > .valign {
  vertical-align: top;
}
#s-08b256dd-c9a6-49ec-8a75-9a8afaa4c8b1 #s-unchecked_6 > .valign {
  vertical-align: top;
}
#s-08b256dd-c9a6-49ec-8a75-9a8afaa4c8b1 #s-checked_8 > .valign {
  vertical-align: top;
}
#s-08b256dd-c9a6-49ec-8a75-9a8afaa4c8b1 #s-unchecked_8 > .valign {
  vertical-align: top;
}
#s-08b256dd-c9a6-49ec-8a75-9a8afaa4c8b1 #s-checked_7 > .valign {
  vertical-align: top;
}
#s-08b256dd-c9a6-49ec-8a75-9a8afaa4c8b1 #s-unchecked_7 > .valign {
  vertical-align: top;
}
#s-08b256dd-c9a6-49ec-8a75-9a8afaa4c8b1 #s-Rich_text_51 {
  background-image: url('../../images/[Generated] 86152f7e-9d17-4109-8d14-a3ce8993cb14.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 0px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 44px;
  width: 252px;
  height: 40px;
}
#s-08b256dd-c9a6-49ec-8a75-9a8afaa4c8b1 #s-checked_1 > .valign {
  vertical-align: top;
}
#s-08b256dd-c9a6-49ec-8a75-9a8afaa4c8b1 #s-unchecked_1 > .valign {
  vertical-align: top;
}
#s-08b256dd-c9a6-49ec-8a75-9a8afaa4c8b1 #s-checked_2 > .valign {
  vertical-align: top;
}
#s-08b256dd-c9a6-49ec-8a75-9a8afaa4c8b1 #s-unchecked_2 > .valign {
  vertical-align: top;
}
#s-08b256dd-c9a6-49ec-8a75-9a8afaa4c8b1 #s-checked_3 > .valign {
  vertical-align: top;
}
#s-08b256dd-c9a6-49ec-8a75-9a8afaa4c8b1 #s-unchecked_3 > .valign {
  vertical-align: top;
}
#s-08b256dd-c9a6-49ec-8a75-9a8afaa4c8b1 #s-checked_4 > .valign {
  vertical-align: top;
}
#s-08b256dd-c9a6-49ec-8a75-9a8afaa4c8b1 #s-unchecked_4 > .valign {
  vertical-align: top;
}