#s-1c0cf473-2408-4409-9c1c-0cc1f5db829a #s-Panel_43 > .valign {
  vertical-align: top;
}
#s-1c0cf473-2408-4409-9c1c-0cc1f5db829a #s-Rich_text_42 {
  background-image: url('../../images/[Generated] f06011fb-ec0c-4e11-9978-527ad6c61540.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 0px;
  padding-left: 14px;
  width: 282px;
  height: 40px;
}
#s-1c0cf473-2408-4409-9c1c-0cc1f5db829a #s-Rich_text_45 {
  background-image: url('../../images/[Generated] 609a8281-3bd5-4582-aa95-387b1d3050cd.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 0px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 14px;
  width: 282px;
  height: 40px;
}
#s-1c0cf473-2408-4409-9c1c-0cc1f5db829a #s-Rich_text_46 {
  background-image: url('../../images/[Generated] 6ed1a6eb-9976-49e1-a272-e487864041fc.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 0px;
  padding-left: 44px;
  width: 252px;
  height: 40px;
}
#s-1c0cf473-2408-4409-9c1c-0cc1f5db829a #s-Rich_text_49 {
  background-image: url('../../images/[Generated] 73c9aff9-9311-4ceb-802b-3fdb53ce8584.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 0px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 44px;
  width: 252px;
  height: 40px;
}
#s-1c0cf473-2408-4409-9c1c-0cc1f5db829a #s-Button_blue {
  background-image: url('../../images/[Generated] 1ac77984-8d2a-4fea-a997-41d030cc03e9.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 47px;
  height: 22px;
}
#s-1c0cf473-2408-4409-9c1c-0cc1f5db829a #s-Button_blue_1 {
  background-image: url('../../images/[Generated] 1c7f1869-2e84-48c7-8738-8186264404e5.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 47px;
  height: 22px;
}
#s-1c0cf473-2408-4409-9c1c-0cc1f5db829a #s-Thread {
  background-image: url('../../images/[Generated] 1e2873ff-8ab3-4557-aa55-f37810aa1c06.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 38px;
  height: 24px;
}
#s-1c0cf473-2408-4409-9c1c-0cc1f5db829a #s-Thread_1 {
  background-image: url('../../images/[Generated] c8f5215a-799f-4576-b71a-c4dbabbd5a1f.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 38px;
  height: 24px;
}
#s-1c0cf473-2408-4409-9c1c-0cc1f5db829a #s-Thread_2 {
  background-image: url('../../images/[Generated] b9910a20-6fef-45b9-bdf4-cc644a04ff9a.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 38px;
  height: 24px;
}
#s-1c0cf473-2408-4409-9c1c-0cc1f5db829a #s-Thread_3 {
  background-image: url('../../images/[Generated] 20778906-7f5f-4f54-99a7-d53c1a7665d1.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 38px;
  height: 24px;
}
#s-1c0cf473-2408-4409-9c1c-0cc1f5db829a #s-Thread_4 {
  background-image: url('../../images/[Generated] 51b2296b-a2ef-4efd-84ec-6a5140f53da6.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 38px;
  height: 24px;
}
#s-1c0cf473-2408-4409-9c1c-0cc1f5db829a #s-Thread_5 {
  background-image: url('../../images/[Generated] 08a5b45d-bed9-4e01-9aee-00c72f69a5c6.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 38px;
  height: 24px;
}
#s-1c0cf473-2408-4409-9c1c-0cc1f5db829a #s-Rectangle_6 {
  background-image: url('../../images/[Generated] e1aa1585-e115-4fa1-ace0-879a0026fca4.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 294px;
  height: 24px;
}
#s-1c0cf473-2408-4409-9c1c-0cc1f5db829a #s-Label_10 {
  background-image: url('../../images/[Generated] 075c64d5-50c3-4cc2-8770-09b6d917ea97.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 13px;
  width: 289px;
  height: 22px;
}
#s-1c0cf473-2408-4409-9c1c-0cc1f5db829a #s-Category_4-options {
  background-color: transparent;
}
#s-1c0cf473-2408-4409-9c1c-0cc1f5db829a #s-Rectangle_7 {
  background-image: url('../../images/[Generated] d059ca9e-5c3c-4b6c-b870-2f90d13e205e.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 300px;
  height: 24px;
}