#s-1d7b8c5c-70dc-4969-a5a6-d275ad75c242 #s-Blue_button_large {
  background-image: url('../../images/[Generated] 51952886-90b6-46c5-90b0-485055ed56b2.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 167px;
  height: 26px;
}
#s-1d7b8c5c-70dc-4969-a5a6-d275ad75c242 #s-Blue_button_large_1 {
  background-image: url('../../images/[Generated] 19f1e1b4-a0b5-48bf-ac8f-ade05b05832e.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 167px;
  height: 26px;
}
#s-1d7b8c5c-70dc-4969-a5a6-d275ad75c242 #s-Green_button {
  background-image: url('../../images/[Generated] 4354bd7b-b65a-4926-91fe-ef7830a4f4b6.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  width: 165px;
  height: 24px;
}
#s-1d7b8c5c-70dc-4969-a5a6-d275ad75c242 #s-Panel_47 > .valign {
  vertical-align: top;
}