#s-296abba6-b9d5-4719-95ce-5eda01354826 #s-Panel_43 > .valign {
  vertical-align: top;
}
#s-296abba6-b9d5-4719-95ce-5eda01354826 #s-Rich_text_42 {
  background-image: url('../../images/[Generated] 4a85b8a5-35c2-4544-ae85-fbface965190.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 0px;
  padding-left: 14px;
  width: 282px;
  height: 40px;
}
#s-296abba6-b9d5-4719-95ce-5eda01354826 #s-Rich_text_45 {
  background-image: url('../../images/[Generated] 27479ef2-aaa3-4e33-96f6-62d1d22adf89.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 0px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 14px;
  width: 282px;
  height: 40px;
}
#s-296abba6-b9d5-4719-95ce-5eda01354826 #s-Rich_text_46 {
  background-image: url('../../images/[Generated] 0429ebf0-44ce-4537-9173-b49f738a4875.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 0px;
  padding-left: 44px;
  width: 252px;
  height: 40px;
}
#s-296abba6-b9d5-4719-95ce-5eda01354826 #s-Rich_text_49 {
  background-image: url('../../images/[Generated] 4388a625-131a-455e-9a45-a8eeaded4a39.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 0px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 44px;
  width: 252px;
  height: 40px;
}
#s-296abba6-b9d5-4719-95ce-5eda01354826 #s-Button_blue {
  background-image: url('../../images/[Generated] d11d371f-0ea8-4952-834c-bb2710a322bf.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 47px;
  height: 22px;
}
#s-296abba6-b9d5-4719-95ce-5eda01354826 #s-Button_blue_1 {
  background-image: url('../../images/[Generated] e5a1197c-c7b7-42f8-acd2-6bb4ec35959c.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 47px;
  height: 22px;
}
#s-296abba6-b9d5-4719-95ce-5eda01354826 #s-checked_1 > .valign {
  vertical-align: top;
}
#s-296abba6-b9d5-4719-95ce-5eda01354826 #s-unchecked_1 > .valign {
  vertical-align: top;
}
#s-296abba6-b9d5-4719-95ce-5eda01354826 #s-checked_2 > .valign {
  vertical-align: top;
}
#s-296abba6-b9d5-4719-95ce-5eda01354826 #s-unchecked_2 > .valign {
  vertical-align: top;
}
#s-296abba6-b9d5-4719-95ce-5eda01354826 #s-checked_3 > .valign {
  vertical-align: top;
}
#s-296abba6-b9d5-4719-95ce-5eda01354826 #s-unchecked_3 > .valign {
  vertical-align: top;
}
#s-296abba6-b9d5-4719-95ce-5eda01354826 #s-checked_4 > .valign {
  vertical-align: top;
}
#s-296abba6-b9d5-4719-95ce-5eda01354826 #s-unchecked_4 > .valign {
  vertical-align: top;
}
#s-296abba6-b9d5-4719-95ce-5eda01354826 #s-checked_5 > .valign {
  vertical-align: top;
}
#s-296abba6-b9d5-4719-95ce-5eda01354826 #s-unchecked_5 > .valign {
  vertical-align: top;
}
#s-296abba6-b9d5-4719-95ce-5eda01354826 #s-checked_6 > .valign {
  vertical-align: top;
}
#s-296abba6-b9d5-4719-95ce-5eda01354826 #s-unchecked_6 > .valign {
  vertical-align: top;
}