#s-2f27b4e8-2812-485e-9bc1-bb8a82166ea8 #s-Panel_47 > .valign {
  vertical-align: top;
}
#s-2f27b4e8-2812-485e-9bc1-bb8a82166ea8 #s-Thread {
  background-image: url('../../images/[Generated] 6e57e3a7-1f89-4a38-8f77-fedc8f30e7d5.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 19px;
  height: 14px;
}
#s-2f27b4e8-2812-485e-9bc1-bb8a82166ea8 #s-Thread_1 {
  background-image: url('../../images/[Generated] 0ed9ef17-b411-4b67-89ef-25be76ce387d.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 19px;
  height: 14px;
}
#s-2f27b4e8-2812-485e-9bc1-bb8a82166ea8 #s-Thread_2 {
  background-image: url('../../images/[Generated] 825dffb7-2c14-42cf-87eb-32a88ea86f1a.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 19px;
  height: 14px;
}
#s-2f27b4e8-2812-485e-9bc1-bb8a82166ea8 #s-Thread_3 {
  background-image: url('../../images/[Generated] 281bef19-dd4a-455e-8b2f-9c07ea7b5c3a.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 19px;
  height: 14px;
}
#s-2f27b4e8-2812-485e-9bc1-bb8a82166ea8 #s-Thread_4 {
  background-image: url('../../images/[Generated] 540de8e4-5aa2-47c1-891f-7bc50be6605b.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 19px;
  height: 14px;
}
#s-2f27b4e8-2812-485e-9bc1-bb8a82166ea8 #s-Thread_5 {
  background-image: url('../../images/[Generated] cfd2e30e-1f3f-48ec-9e60-8e44bba37524.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 19px;
  height: 14px;
}
#s-2f27b4e8-2812-485e-9bc1-bb8a82166ea8 #s-Thread_6 {
  background-image: url('../../images/[Generated] 4a4098c3-d886-4e4b-b124-8b42c5396aa3.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 19px;
  height: 14px;
}
#s-2f27b4e8-2812-485e-9bc1-bb8a82166ea8 #s-Thread_7 {
  background-image: url('../../images/[Generated] 1df867eb-ccd0-4c0c-856e-5069c63eedbc.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 19px;
  height: 14px;
}
#s-2f27b4e8-2812-485e-9bc1-bb8a82166ea8 #s-Rectangle_16 {
  background-image: url('../../images/[Generated] 41ab5e7a-7114-4bba-84a8-99ef49d91b73.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  width: 247px;
  height: 14px;
}