#s-73d2bc10-4297-44d8-9ba2-5aadd2db1a72 #s-Dark_grey_button {
  background-image: url('../../images/[Generated] de9385d0-6327-4f36-9c45-ce08cabe1149.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 6px;
  padding-right: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  width: 267px;
  height: 34px;
}
#s-73d2bc10-4297-44d8-9ba2-5aadd2db1a72 #s-Green_button {
  background-image: url('../../images/[Generated] c9ab8b13-272c-4005-96d4-470feff7fa44.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  width: 143px;
  height: 23px;
}
#s-73d2bc10-4297-44d8-9ba2-5aadd2db1a72 #s-Rectangle_4 {
  background-image: url('../../images/[Generated] d6e3cf47-9008-4df9-b972-1f91ae08e3be.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  width: 296px;
  height: 373px;
}
#s-73d2bc10-4297-44d8-9ba2-5aadd2db1a72 #s-Panel_9 {
  background-image: url('../../images/[Generated] 37945218-433e-4e13-b8ec-a1f15b429b20.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  width: 281px;
  height: 277px;
}
#s-73d2bc10-4297-44d8-9ba2-5aadd2db1a72 #s-Panel_9 > .valign {
  vertical-align: top;
}
#s-73d2bc10-4297-44d8-9ba2-5aadd2db1a72 #s-Panel_47 > .valign {
  vertical-align: top;
}