#s-c838ec31-608d-4f15-bc5f-8abb8f07685f #s-Dark_grey_button {
  background-image: url('../../images/[Generated] 7561514c-3120-4cc0-9177-80e0501b13ef.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 6px;
  padding-right: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  width: 267px;
  height: 34px;
}
#s-c838ec31-608d-4f15-bc5f-8abb8f07685f #s-Green_button {
  background-image: url('../../images/[Generated] 88f0c864-f3e7-432c-9bac-88dbe46f54ba.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  width: 143px;
  height: 23px;
}