#s-e555abec-c303-45ce-8108-0b6cc75ec84f #s-Rectangle_6 {
  background-image: url('../../images/[Generated] b97c80a3-dd45-4e90-83b4-2bd4618bb32c.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 229px;
  height: 24px;
}
#s-e555abec-c303-45ce-8108-0b6cc75ec84f #s-Rectangle_7 {
  background-image: url('../../images/[Generated] 52e4a463-34d4-4129-8b43-8d115f6b2ba9.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 229px;
  height: 24px;
}
#s-e555abec-c303-45ce-8108-0b6cc75ec84f #s-Dark_grey_button {
  background-image: url('../../images/[Generated] f7b98723-8e7a-4738-b7ae-52f428f28bea.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 6px;
  padding-right: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  width: 267px;
  height: 34px;
}